.text-align-center{
    text-align: center
}

.min-vh-100{
    min-height: 100vh;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.flex-row{
    flex-direction: row;
}
.gap-100{
    gap: 100px;
}
.loop{
    font-size: 25px;
    background: linear-gradient(180deg, #6056f2 0%, #ed2f9e 100%),
            linear-gradient(133.83deg, #5500ff 3.77%, #d069f2 81.07%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}
.heading{
    font-size: 35px;
    background: linear-gradient(130.83deg, #ff5e0074 3.77%, #f26969 81.07%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}